<a href="https://colab.research.google.com/github/rosywaruku/tempotrek/blob/master/Music%20Preference/transform_music_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import pandas as pd # data processing
import random

In [89]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Loading the data

In [90]:
%cd /content/drive/MyDrive/Music_Genre

/content/drive/MyDrive/Music_Genre

In [91]:
df = pd.read_csv("music_responses.csv")
df.head()

,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,Punk,"Hiphop, Rap","Reggae, Ska","Swing, Jazz",Rock n roll,Alternative,Latino,"Techno, Trance",Opera
0,0.0,0.0,0.0,0.0,0.0,6.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,5.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,13.0,14.0,15.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

We separate data about music  because our dataset is too wide to process.

After separate music data, we add some demographic data

In [92]:
df.shape

(1010, 17)

This code will find the column with the highest value in each row, and the column with the lowest non-zero value in each row. It will then create a new column with the highest and lowest non-zero values from each row mixed randomly, and write the modified dataframe back to a CSV file.

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Dance              1006 non-null   float64
 1   Folk               1005 non-null   float64
 2   Country            1005 non-null   float64
 3   Classical music    1003 non-null   float64
 4   Musical            1008 non-null   float64
 5   Pop                1007 non-null   float64
 6   Rock               1004 non-null   float64
 7   Metal or Hardrock  1007 non-null   float64
 8   Punk               1002 non-null   float64
 9   Hiphop, Rap        1006 non-null   float64
 10  Reggae, Ska        1003 non-null   float64
 11  Swing, Jazz        1004 non-null   float64
 12  Rock n roll        1003 non-null   float64
 13  Alternative        1003 non-null   float64
 14  Latino             1002 non-null   float64
 15  Techno, Trance     1003 non-null   float64
 16  Opera              1009 non-null   float64
dtypes: float64(17)
memory usage: 134.3 KB

In [94]:
df.isnull().sum()

Dance                4
Folk                 5
Country              5
Classical music      7
Musical              2
Pop                  3
Rock                 6
Metal or Hardrock    3
Punk                 8
Hiphop, Rap          4
Reggae, Ska          7
Swing, Jazz          6
Rock n roll          7
Alternative          7
Latino               8
Techno, Trance       7
Opera                1
dtype: int64

In [95]:
# Fill NaN values with zero
df = df.fillna(0)
df.reset_index(drop=False)
df.isnull().sum()

Dance                0
Folk                 0
Country              0
Classical music      0
Musical              0
Pop                  0
Rock                 0
Metal or Hardrock    0
Punk                 0
Hiphop, Rap          0
Reggae, Ska          0
Swing, Jazz          0
Rock n roll          0
Alternative          0
Latino               0
Techno, Trance       0
Opera                0
dtype: int64

In [96]:
df.shape

(1010, 17)

In [97]:
df.index

RangeIndex(start=0, stop=1010, step=1)

In [98]:
df.columns

Index(['Dance', 'Folk', 'Country', 'Classical music', 'Musical', 'Pop', 'Rock',
       'Metal or Hardrock', 'Punk', 'Hiphop, Rap', 'Reggae, Ska',
       'Swing, Jazz', 'Rock n roll', 'Alternative', 'Latino', 'Techno, Trance',
       'Opera'],
      dtype='object')

In [102]:
def mix_values(row):
    highest_col = row.idxmax()
    lowest_col = row[row > 0]
    if lowest_col.empty:
        return row[highest_col]
    else:
        lowest_col = lowest_col.idxmin()
        return row[highest_col] if random.randint(0, 1) == 0 else row[lowest_col]

In [103]:
# Create a new column with the highest and lowest values from each row, mixed randomly
df['preferences'] = df.apply(mix_values, axis=1)

# Write the modified dataframe back to a CSV file
df.to_csv('preferences.csv', index=False)

In [104]:
df.head()

,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,Punk,"Hiphop, Rap","Reggae, Ska","Swing, Jazz",Rock n roll,Alternative,Latino,"Techno, Trance",Opera,preferences
0,0.0,0.0,0.0,0.0,0.0,6.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
1,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
2,0.0,0.0,0.0,0.0,5.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,13.0,14.0,15.0,0.0,0.0,15.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,14.0
4,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0